{% extends "users/layout.html" %}



{% block content %} 
   <body> 
    <div class="main"> 
    <div class="login-page">
        <div class="form">
            <h3>Create Tree Plantation Drive</h3>
          <form class="login-form">
            <input type="text" placeholder="Enter Name"/>
            <input type="text" placeholder="Drive Name"/>
            <input type="text" placeholder="Location"/>
            <input type="number" placeholder="Target"/>
            <textarea name="text" id="" cols="35" rows="5" placeholder="Description"></textarea>
            <button>Submit</button>
           
          </form>
        </div>
      </div>
    </div>
</body>
<style>
      @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding-top: 40px;
  padding-right: 800px;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}



body {
    background-image: url(https://media.istockphoto.com/photos/farmers-hand-watering-a-young-plant-picture-id1248915720?k=20&m=1248915720&s=612x612&w=0&h=lG9xaMq_8QRvn8b1HBOhy1WbinXM3j0jB0jEeIu2Q-Y=);
    background-position: center;
    background-size: cover;

}
    </style>

{% endblock %}
