<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="driveInfo.css">
    <title></title>
</head>
<body>
    <div class="">
        <div class="card">
            <img class="image-custom" src="./R.jpg"/>
            <div class="card-img-overlay">
                <span class="top-text">PICT DRIVE</span><span><button type="button" class="btn btn-dark my-btn">Joined</button></span>
                <div class="description-text">The motto behind this mass plantation drive was to make villagers aware of the value of a green and healthy environment, more importantly, the importance of beautifying a waste barren land into an attraction spot not only for villagers but also for various species of birds. </div>
                <div class="grid" >
                    <div class="row">
                    <div class="col-4"><div class="upper-text"><font color="green">Pune</font></div><div class="lower-text">Location</div></div>
                    <div class="col-4"><div class="upper-text"><font color="green">25000</font></div><div class="lower-text">Target</div></div>
                    <div class="col-4"><div class="upper-text"><font color="green">3000</font></div><div class="lower-text">Planted</div></div>
                </div>
            </div>
            <div class="grid">
                <div class="row">
                    <div class="col-3"><div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">My First drive</h5>
                          <p class="card-text">It gives a sense of accomplishment to have participated and helped for a social cause</p>
                          <div style="text-align: center;"><a href="#" class="btn btn-success" style="text-align: center;">Like</a></div>
                        </div>
                      </div></div>
                    <div class="col-3"><div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">A new experience</h5>
                          <p class="card-text">Enjoyed a new venture of plantation drives, encourage all to participate</p>
                          <div style="text-align: center;"><a href="#" class="btn btn-success" style="text-align: center;">Like</a></div>
                        </div>
                      </div></div>
                    <div class="col-3"><div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Plantation Drive</h5>
                          <p class="card-text">Really liked the initaitive and encourage all to take part atleast once in their drives.</p>
                          <div style="text-align: center;"><a href="#" class="btn btn-success" style="text-align: center;">Like</a></div>
                        </div>
                      </div></div>
                    <div class="col-3"><div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">PICT Drive</h5>
                          <p class="card-text">Being a student I always tries to work for the welfare of society and  work for a social cause.</p>
                          <div style="text-align: center;"><a href="#" class="btn btn-success" style="text-align: center;">Like</a></div>
                        </div>
                      </div></div>
                </div>
            </div>
           </div>
          </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>        
</body>
</html>