<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>




  <div class="modal fade" id="myModalPost">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: rgb(11, 146, 101);">
      
        <div class="modal-header">
          <h4 class="modal-title" >Share your Glimpses here</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <form action="{% url 'driveHome' drive.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="modal-body">
            <input type="text" placeholder="A Caption Please"  name="caption" required><br><br>
            <input type="file"   name="imagepost" required>
            <input type="hidden" value="post" name="hiddenValue">
        </div>
    

        <!-- <div class="modal-body">
            <input type="text" placeholder="Name of tress"  name="uname" required>
        </div>
         -->
        <button type="submit" style="width: 24%;height: 20%; margin-left: 40%; background-color:rgb(117, 223, 117);">Post a Snap</button>
    </form>
        
      </div>
    </div>
  </div>
  
