{% extends 'users/layout.html' %}

    {% block content %} 
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <div class="wrapper">
        <div class="left">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                alt="user" width="100">
            <h4>{{user.first_name}}</h4>
        </div>
        <div class="right">
            <div class="info">
                <h3>Profile</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Email</h4>
                        <p>{{user.email}}</p>
                    </div>
                </div>
            </div>
            <div class="projects">
                <div class="projects_data">
                    <div class="data">
                        <h4>Username</h4>
                        <p>{{user.username}}</p>
                    </div>
                </div>
            </div>
            <div class="projects">
                <div class="projects_data">
                    <div class="data">
                        <h4>Trees planted</h4>
                        <p>{{profile.indi_tree_count}}</p>
                    </div>
                </div>
            </div>
            <div class="projects">
                <div class="projects_data">
                    <div class="data">
                        <h4>Location</h4>
                        <p>{{profile.location}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
      <table class="tab">
          <thead>
              <tr>
              <th>SR.No</th>
              <th>Name</th>
              <th>Trees Planted</th>
              <th>Target</th>
              </tr>
          </thead>
          <tbody>
          {% for drive in userDrives %}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{% url 'driveHome' drive.pk %}">{{drive.drive_name}}</a></td>
                  <td>{{drive.count}}</td>
                  <td>{{drive.target}}</td>
              </tr>
          {% endfor %}
              <!-- <tr>
                  <td>2</td>
                  <td><a href="#">RSS drive</a></td>
                  <td>50</td>
                  <td>Completed</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td><a href="#">PICT drive</a></td>
                  <td>5</td>
                  <td>Incomplete</td>
              </tr> -->
          </tbody>
      </table>
      </div>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-image: url(https://t4.ftcdn.net/jpg/02/91/88/37/360_F_291883797_GGmcj8bGJpbTmZhErvS92ZEbGi0D512B.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 35%;
  background: #77dd77;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left p {
  font-size: 12px;
}

.wrapper .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

/* table */
.tab {
  border-collapse: collapse;
  margin: 25px 0px;
  min-width: 500px;
  font-size: 0.9em;
}
.tab thead tr {
  background-color: #77dd77;
  color: black;
  text-align: center;
  font-weight: bold;
}
.tab th {
  background: #77dd77;
}
table,
th,
td {
  border: 1px solid black;
  background-color: #fff;
  padding: 12px 15px;
  text-align: center;
}

.main {
  padding-top: 700px;
  padding-left: 430px;
  padding-bottom: 100px;
}
@media screen and (max-width: 600px) {
        .wrapper {
      position: absolute;
      top: 60%;
      left: 55%;
      width: 100%;
    }
    .tab {
      width: 100%;
      margin-right: 100px;
    }
    .main {
      padding-top: 600px;
      padding-left: 50px;
      padding-bottom: 100px;
    }
}
@media screen and (max-width: 400px) {
    .wrapper {
      top: 60%;
      left: 65%;
      width: 100%;
    }
    .tab {
      width: 80%;
      margin-right: 250px;
    }
    .main {
      padding-top: 600px;
      padding-left: 5px;
      padding-bottom: 100px;
    }
}
</style>
    </style>
    {% endblock %}